.App {
  text-align: center;
}

.App-logo {
  animation: hex-rotate infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes hex-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes txt-rotate {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(4deg);}
  50% {-webkit-transform:rotate(-4deg);}
  100% {-webkit-transform:rotate(4deg);}
}

:local(.navItem) {
  color: #bfffc4;
}

:local(.navBar) {
  background: #bfffc4;
  color: white;
}

:local(.hexBig) {
  width: 30%;
  display: inline-flex;
  justify-content: center;
  margin-left: 10%;
}

:local(.infoBox) {
  width: 55%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  vertical-align: top;
  text-align: center;
}

:local(.moreInfo) {
  flex: 1;
  display: block;
  width: 100%;
    justify-content: center;
    vertical-align: top;
  text-align: center;
}

:local(.hexMed) {
  width: 10%;
  display: inline-flex;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  margin: 2%;
  /*animation: hex-rotate infinite 200s linear;*/
  -webkit-animation: wiggle 5s infinite;

}

:local(.hexMedText) {
  font-size: 400%;
  justify-content: center;
  text-align: center;
}